/* Xóa hết comment */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-modal-footer {
    display: none;
}

.ant-popover-inner {
  padding: 13px 23px !important;
}

.ant-card-body {
    padding: 10px !important;
}

.ant-tabs-nav-wrap {
   justify-content: center;
}

.ant-tabs-content.ant-tabs-content-top {
   position: inherit;
}

.ant-layout-sider-children, 
.ant-menu {
   background-color: #000000 !important; 
}

.ant-layout-sider-trigger{
   background-color: #000000 !important; 
}

.ant-layout-header  {
   background-color: white;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif !important;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.star-container {
  position: relative;
  display: inline-block;
  font-size: 14px; 
  color: #ccc; 
}

.star-container .full-star {
  color: #eab308; 
}

.star-container .half-star {
  position: relative;
  display: inline-block;
  overflow: hidden;
  top: 3px
}

.star-container .half-star:before {
  content: "★";
  position: absolute;
  left: 0;
  width: 50%;
  color: #eab308; 
  overflow: hidden;
}

.shadow {
  --tw-shadow: 0 1px 10px 0 rgb(0 0 0 / 0.1), 0 1px 10px -1px rgb(0 0 0 / 0.2) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.custom-button {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #ff923f, #ff6f00);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 2s;
}

.custom-button:hover {
  background: linear-gradient(90deg, #ff9f38, #ff704d);
  animation: wiggle 0.5s ease-in-out infinite; 
}

.icon {
  margin-right: 8px; 
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg); 
  }
  50% {
    transform: rotate(-3deg); 
  }
  75% {
    transform: rotate(3deg); 
  }
}

.custom-button {
  background-color: #4caf50; 
  color: white; 
  padding: 0.5rem 1rem; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.custom-button:hover {
  background-color: #45a049; 
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, rgba(255, 207, 159, 0.37), transparent);
}

.icon-style {
  color: white;
  margin-right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.pricing-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  width: 250px;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.circle-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #222;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.pricing-container .pricing-card:nth-child(1) .circle-header {
  background: linear-gradient(135deg, #00FF00, #32CD32); 
}

.pricing-container .pricing-card:nth-child(2) .circle-header {
  background: linear-gradient(135deg, #00C6FF, #0072FF); 
}

.pricing-container .pricing-card:nth-child(3) .circle-header {
  background: linear-gradient(135deg, #8A2BE2, #720e9e); 
}

.pricing-container .pricing-card:nth-child(4) .circle-header {
  background: linear-gradient(135deg, #FFA500, #FF7E1B); 
}

.pricing-container .pricing-card:nth-child(5) .circle-header {
  background: linear-gradient(135deg, #FF0000, #DC143C); 
}

.circle-header h2 {
  margin: 0;
  font-size: 18px;
}

.circle-header p {
  margin: 5px 0;
  font-size: 14px;
}

.circle-header span {
  font-size: 12px;
  color: #ddd;
}

.features {
  list-style: none;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 20px;
}

.features li {
  margin: 10px 0;
  font-size: 16px;
}

.buy-btn {
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing-container .pricing-card:nth-child(1) .buy-btn {
  background-color: #00FF00; 
}

.pricing-container .pricing-card:nth-child(1) .buy-btn:hover {
  background-color: #32CD32; 
}

.pricing-container .pricing-card:nth-child(2) .buy-btn {
  background-color: #00C6FF; 
}

.pricing-container .pricing-card:nth-child(2) .buy-btn:hover {
  background-color: #0072FF; 
}

.pricing-container .pricing-card:nth-child(3) .buy-btn {
  background-color: #8A2BE2; 
}

.pricing-container .pricing-card:nth-child(3) .buy-btn:hover {
  background-color: #720e9e; 
}

.pricing-container .pricing-card:nth-child(4) .buy-btn {
  background-color: #FFA500; 
}

.pricing-container .pricing-card:nth-child(4) .buy-btn:hover {
  background-color: #FF7E1B; 
}

.pricing-container .pricing-card:nth-child(5) .buy-btn {
  background-color: #FF0000; 
}

.pricing-container .pricing-card:nth-child(5) .buy-btn:hover {
  background-color: #DC143C; 
}

.wave-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  overflow: hidden;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-1 {
  background: linear-gradient(135deg, #00FF00, #32CD32); 
}

.card-2 {
  background: linear-gradient(135deg, #00C6FF, #0072FF); 
}

.card-3 {
  background: linear-gradient(135deg, #8A2BE2, #720e9e); 
}

.card-4 {
  background: linear-gradient(135deg, #FFA500, #FF7E1B); 
}

.card-5 {
  background: linear-gradient(135deg, #FF0000, #DC143C); 
}

.buy-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.submenu {
  padding: 12px;
  background: #000;
  position: absolute;
  top: 100%;
  left: -20%;
  display: none;
}
.menu:hover .submenu {
  display: block;
}

.submenu_2 {
  padding: 12px;
  background: #000;
  position: absolute;
  top: 100%;
  left: -20%;
  display: none;
}
.menu_2:hover .submenu_2 {
  display: block;
}

.menu {
  transition: all 0.3s ease-in-out;
}

.menu:hover {
  color: rgb(255, 138, 60)
}

.submenu li .sub-menu {
  transition: all .3s ease-in-out;
}

.submenu li:hover .sub-menu {
  color: rgb(255, 138, 60)
}

.submenu_2 li .sub-menu {
  transition: all .3s ease-in-out;
}
.submenu_2 li:hover .sub-menu {
  color: rgb(255, 138, 60)
}