@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-color: rgba(232, 71, 27, 0.08);
} */
 /* .ant-modal-content {
    background-color: rgba(249, 116, 22, 0.8) !important;
 } */

 .ant-modal-footer {
    display: none;
 }

 .ant-popover-inner {
  padding: 13px 23px !important;
 }

 /* Card  */
 .ant-card-body {
    padding: 10px !important;
 }

 /* Tab */
 .ant-tabs-nav-wrap {
   justify-content: center;
 }

 .ant-tabs-content.ant-tabs-content-top {
   position: inherit;
 }

 /* layout */

 .ant-layout-sider-children, 
 .ant-menu {
   background-color: #000000 !important; /* Changed from #fe8732 to #000000 */
 }

 .ant-layout-sider-trigger{
   background-color: #000000 !important; /* Changed from #F97316 to #000000 */
 }

 .ant-layout-header  {
   background-color: white;
 }

 /* button antd  */
 /* .ant-btn {
  background-color: #F97316 !important;
  color: white !important;
 }

 .ant-btn:hover {
  background-color: #fb6400 !important;
  color: white !important;
 } */

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 body {
  font-family: 'Roboto', sans-serif !important;
}


 .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.star-container {
  position: relative;
  display: inline-block;
  font-size: 14px; /* Tùy chỉnh kích thước ngôi sao */
  color: #ccc; /* Màu xám cho ngôi sao trống */
}

.star-container .full-star {
  color: #eab308; /* Màu vàng cho ngôi sao đầy */
}

.star-container .half-star {
  position: relative;
  display: inline-block;
  overflow: hidden;
  top: 3px
}

.star-container .half-star:before {
  content: "★";
  position: absolute;
  left: 0;
  width: 50%;
  color: #eab308; /* Màu vàng cho nửa ngôi sao */
  overflow: hidden;
}

.shadow {
  --tw-shadow: 0 1px 10px 0 rgb(0 0 0 / 0.1), 0 1px 10px -1px rgb(0 0 0 / 0.2) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
